body{
    margin: 0;
    padding: 0;
    height: 100vh; /* Use vh to ensure full viewport height */
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #f0f0f0;
    flex-direction: column;
}
